*{
    margin: 0%;
    padding: 0%;
}


.cabeçalho{
    background-color: black;
    color: firebrick;
    font-style:italic;
    display: flex;
    justify-content: left  ;
    align-items: flex-end;
}

.cabeçalho-imagem{
    width: 10%;
} 

.cabeçalho-lista-item{
      display: inline-block;
      margin: 0 60px ;
      font-size:30px;
      align-items: flex-end;
}

.texto1{
    flex-direction: row-reverse;
    display: flex
       }

.Titulo{
    font-style: italic;
    padding: 55px 0;

}
.professora{
    width: 20%;
    margin-left: 0 60px;

}
.escola{
    background-image: linear-gradient(black,red);
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}
.link{
font-size: 25px;
color: black;

}

.div1{
    width: 50%;
}